{% for group in groups %}

<div class="card m-1 text-white bg-dark rounded-3">
    <div class="d-flex mt-1 row">
        <a href="/group/{{ group.id }}" class="col-lg text-center"> {{ group.name }} </a>
        <div class="col-auto" >
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Opcions
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/edit_group/{{ group.id }}" class="btn btn-warning ms-auto dropdown-item">Edit</a>
                    </li>
                    <li>
                        <a href="/delete_group/{{ group.id }}" class="btn btn-danger ms-auto dropdown-item">Delete</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endfor %}