<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prueba</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
  Esta es la pagina
  <p>Hola Mi amor</p>
  <ol>
    <li>
      <a href="http://localhost:4000/ping"> Ping</a>
    </li>
    <li>
      <a href="http://localhost:4000/products"> Productos</a>
    </li>
    <li>
      <a href="http://localhost:4000/products/laptop"> laptops</a>
    </li>
    <li>
      <a href="http://localhost:4000/products/mouse"> mause</a>
    </li>
    <li>
      <a href="http://localhost:4000/products/monitor"> monitor</a>
    </li>
    <li>
      <a href="http://localhost:4000/products"> Productos</a>
    </li>
  </ol>
</body>
</html>